.testimonial-section {
  background: var(--border); /* Fundo suave como na imagem */
  padding: 150px 20px;
  text-align: center;
}

.testimonial-content {
  max-width: 800px;
  margin: 0 auto;
}

.testimonial-content blockquote {
  font-size: 1.5rem;
  font-style: italic;

  color: var(--text-dark); /* Cor do texto da citação */
  margin-bottom: 40px;
}

.testimonial-content .client-name {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Ailerons', sans-serif;
  color: var(--accent); /* Usando a cor de destaque para o nome do cliente */
}

@media (max-width: 768px) {
  .testimonial-content blockquote {
    font-size: 1.2rem;
  }

  .testimonial-content .client-name {
    font-size: 0.9rem;
  }
}
